# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.OfficialTradeSniper.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Github\OfficialTradeSniper\.idea\.idea.OfficialTradeSniper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
